

body {
  font-family: 'GBW';
  background-color: #32614D;
  transition: background-color .5s ease-in-out;

}

.main-container{
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#swiper-container{
  height: 100%;
  width: 100%;
}
.swiper-slide{
  display: flex;
  align-items: center;
}

.poster-container{
  width: 74vw;
  margin: 0 auto;  
}

.poster{
  overflow: hidden;
  width: 74vw;
  height: 123vw;
  border-radius: 6px;
  background-color: #22242A;
  box-shadow: 0 20px 70px 0 rgba(0,0,0,0.50);
}

.title-section{
  width: 74vw;
  position: absolute;
  bottom: -22px;
  left: 6.5vw;
  z-index: 3000;
}

.title{
  font-weight: 900;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  line-height: 34px;  
}

.title span{
  float: left;
  text-transform: uppercase;
  width: 100%;
  transform: translateY(0);
  animation-name: titleAnimation;
  animation-timing-function:ease;
  animation-duration: .4s;
}

.title:after { 
  content:""; 
  clear:both; 
  display:block; 
}

.movie-info{
  width: 74vw;
  position: absolute;
  top:36px;
  left: 6.5vw;
  z-index: 3000;
}

.people{
  margin-top: 8px;
  margin-bottom: 12px;
}

.people:after { 
  content:""; 
  clear:both; 
  display:block; 
}

.people span{
  float: left;
  transform: translateY(0);
  animation-name: infoAnimation;
  animation-timing-function: ease;
  animation-duration: .4s;
}

.secondary-text{
  font-weight: 900;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.button-about-click{
  overflow: hidden;
  position: absolute;
  top:36px;
  right: 6.5vw;
  height: 36px;
  width: 36px;
  z-index: 2500;
}

.about-section{
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
}

.about-section.active{
  z-index: 5000;
}

.button-about::before{
  content: "";
  position: absolute;
  top: 36px;
  right: 6.5vw;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  transform: scale(1);
  transition: all 0.35s ease-out;
}

.button-about.active::before{
  content: "";
  transform: scale(50);
  background-color: white;
}

.button-about-icon.active{
  opacity: 0;
}

.about-contents{
  padding-top: 30vh;
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  z-index: 4000;
  top: 0;
  left: 0;
}
.about-contents-closed{
  position: absolute;
  top: 36px;
  right: 6.5vw;
}

.about-contents-closed.active{
  background-color: #222;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.about-contents-title{
  font-weight: 900;
  font-size: 32px;
  color: #222222;
  letter-spacing: -0.5px;
  line-height: 29px;
}

.about-contents-desc{
  margin-top: 50px;
  font-weight: 900;
  font-size: 15px;
  color: #222222;
  line-height: 20px;
}

.deco-circle{
  position: absolute;
  top: -18px;
  right: 6.5vw;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid #fff;
  box-sizing: border-box;  
  float: right;
}

.button-detail{
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid #fff;
  display: block;
  box-sizing: border-box;
  text-align: center;
}

.deco-circle-fill {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #fff;
  margin-top: 10px;
}

@media screen and (min-width: 600px) {
  .poster{
    height: 700px;
  }
  .title-section{
    bottom: 60px;
  }
  .title{
    font-size: 72px;
    line-height: 70px;
  }

  .secondary-text{
    font-size: 20px;
    line-height: 26px;
  }
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;     
  }
  100% {
    transform: translateY(0);
    opacity: 1;     
  }
}

@keyframes infoAnimation {
  0% {
    transform: translateY(-30px);
    opacity: 0;     
  }
  100% {
    transform: translateY(0);
    opacity: 1;     
  }
}