body {
  font-family: 'Roboto', 'sans-serif';
  background-color: #323D6B;
}

.main-container{
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#swiper-container{
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.poster-container{
  width: 74vw;
  margin: 0 auto;  
}

.poster{
  position: absolute;
  top:50%;
  transform: translate3d(0, -50%, 0);
  overflow: hidden;
  width: 74vw;
  height: 123vw;
  border-radius: 6px;
  background-color: #2C2F36;
  box-shadow: 0 20px 70px 0 rgba(0,0,0,0.50);
}

.title-section{
  width: 74vw;
  position: absolute;
  bottom: -18px;
  left: 6.5vw;
  z-index: 3000;
}

.title{
  font-weight: 900;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  line-height: 36px;  
  }

.title span{
  float: left;
  text-transform: uppercase;
}

.title:after { 
  content:""; 
  clear:both; 
  display:block; 
}

.movie-info{
  width: 74vw;
  position: absolute;
  top:36px;
  left: 6.5vw;
  z-index: 3000;
}

.people{
  margin-top: 8px;
  margin-bottom: 12px;
}

.secondary-text{
  font-weight: 900;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: .5px;
}
.dot-section{
  overflow: hidden;
  position: absolute;
  top:36px;
  right: -18px;
  z-index: 3000;
}

.button-about{
  width: 36px;
  height: 36px;
  display: block;
  text-align: center;
  float: left;
}

.deco-circle{
  margin-left: 10px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid #fff;
  box-sizing: border-box;  
  float: right;
}

.button-detail{
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid #fff;
  display: block;
  box-sizing: border-box;
  text-align: center;
}

.deco-circle-fill {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #fff;
  margin-top: 10px;
}

@media screen and (min-width: 600px) {
  .poster{
    height: 700px;
  }
  .title-section{
    bottom: 60px;
  }
  .title{
    font-size: 72px;
    line-height: 70px;
  }

  .secondary-text{
    font-size: 20px;
    line-height: 26px;
  }
}