.wrapper{
  overflow: hidden;
  height: 123vw;
  background-color: #2C2F36;
}

.parent{
  width: 1px;
  height: 123vw;
  float: left;
  overflow: hidden;
  position: relative;
}

.child{
  position: absolute;
  top: 29%;
}

.child img{
  width: 74vw;
  height: auto;
}

@media screen and (min-width: 600px) {
  .wrapper{
    height: 700px;
  }

  .parent{
    height: 700px;
  }

  .child{
    top:0%;
  }
}