.contents{
  color: #fff;
  z-index: 10;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin-top: 80vh;
  padding: 50px 55px 55px 65px;
  background-color: #191C21;
  position: relative;
  font-family: -apple-system,BlinkMacSystemFont,Lato,Roboto,Segoe UI,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
}


.title-info {
  padding-bottom: 45px;  
}

.title-info .genres{
  font-weight: 900;
  font-size: 14px;
  padding-bottom: 2px;
}
.title-info .release{
  font-weight: 400;
  font-size: 17px;
  opacity: .6;
}

.title {
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  padding-bottom: 30px;
}

.contents-info{
  overflow: hidden;
  padding-bottom: 40px;
}

.contents-info .people{
  font-weight: 400;
  font-size: 15px;
  width: 200px;
  float: left;
}

.contents-info .review{
  float: right; 
}

.contents-info .review img{
  width: 35px;
  height: 35px;
}

article{
  font-size: 13px;
  line-height: 24px;
  opacity: .6;
}

.footer{
  font-size: 11px;
  padding: 20px 0;
  opacity: .6;
}

.back-button{
  position: absolute;
  top: 50px;
  left: 27px;
}
.back-button img{
  width: 12px;
  margin-top:-4px;
}

@media screen and (min-width: 600px) {
  .contents{
    width:600px;
    margin-left: 10vw;
  }
}