body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #292E36;
}

.wrapper{
  overflow: hidden;
  height: 75vh;
}

.parent{
  width: 2px;
  height: 75vh;
  float: left;
  overflow: hidden;
  position: relative;
}

.child{
  width:100vw;
  height: auto;
  position: absolute;
  top: 25%;
}

img{
  max-width: 100%;
  width:auto;
}