body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #292E36;
}

.wrapper{
  overflow: hidden;
  height: 80vh;
}

.parent{
  width: 2px;
  height: 80vh;
  float: left;
  overflow: hidden;
  position: relative;
}

.child{
  position: absolute;
  top: 25%;
}

img{
  width:100vw;

}