body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapper{
  overflow: hidden;
  background-color: black;
  height: 70vh;

}

.parent{
  width: 2px;
  height: 70vh;
  float: left;
  overflow: hidden;
  position: relative;
}

.child{
  position: absolute;
  top: 25%;
}

img{
  width:100vw;
  height: auto;
}


.contents{
  z-index: 10;
  height: 2000px;
  display: flex;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding:32px;
  background-color: #fff;
  box-sizing: border-box;
}

.title-info h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #000000;
  line-height: 30px;
  padding-bottom: 20px;
}

.title-info p{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 12px;
  color: #000000;
}